# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
      exclude: ^tests/testdata/.*\.html$
    - id: end-of-file-fixer
      exclude: ^tests/testdata/.*\.html$
    - id: debug-statements

- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.10'
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
